<!DOCTYPE html>
<html>
  <head>
      <meta charset='utf-8'>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="{{ url_for('static', filename='js/script.js') }}" > </script>
      <title>{% block title %}지하철 혼잡도{% endblock %}</title>
  </head>
  <body>
    <div id="left">
      <h1>지하철 혼잡도 예측 (서울 1 ~ 8호선)</h1>
      <form method='POST' action='/result', id='check', onsubmit="return checkform()">
        <p class="inputs">
          <label for="start">출발역</label>
          <input type="text" list="start_st" name="start" required>
          <datalist id='start_st'>
            {% for st_name in st_name_list %}
              <option value={{ st_name }}></option>
            {% endfor %}
          </datalist>
        </p>
        <p class="inputs">
          <label for="end">도착역</label>
          <input type="text" list="end_st" name="end" required>
          <datalist id='end_st'>
            {% for st_name in st_name_list %}
              <option value={{ st_name }}></option>
            {% endfor %}
          </datalist>
        </p>
        <p class="inputs">
          <label for="date">출발 날짜와 시간</label>
          <input type='datetime-local' name="date" required>
        </p>
        <button class="but">혼잡도 확인하기</button><br>
      </form>
      <p>
        <button class="but" type="button" onclick="window.open('https://public.tableau.com/app/profile/.88606709/viz/train_dashb/1?publish=yes')">
          DASHBOARD
        </button>
      </p>
      <p>
        <button class="but" type="button" onclick="window.open('https://github.com/KkangJun/codestates_Project4')">
          GITHUB
        </button>
      </p>
    </div>
    <div id="rigth">
      {% block results %}
      {% endblock %}
    </div>
  </body>
</html>