<!DOCTYPE html>
<html>
  <head>
    {% block head%}
      <meta charset='utf-8'>
      <title>{% block title %}지하철 혼잡도{% endblock %}</title>
    {% endblock%}
  </head>
  <body>
    <h1>지하철 혼잡도 예측 (서울 1 ~ 8호선)</h1>
    <form method='POST' action='/result', id='checkForm'>
      <p>
        <label for="start">출발역</label>
        <input type="text" list="start_st" name="start" required>
        <datalist id='start_st'>
          {% for st_name in st_name_list %}
            <option value={{ st_name }}></option>
          {% endfor %}
        </datalist>
      </p>
      <p>
        <label for="end">도착역</label>
        <input type="text" list="end_st" name="end" required>
        <datalist id='end_st'>
          {% for st_name in st_name_list %}
            <option value={{ st_name }}></option>
          {% endfor %}
        </datalist>
      </p>
      <p>
        <label for="date">출발 날짜와 시간</label>
        <input type='datetime-local' name="date" required>
      </p>
      <button type="submit" onclick="return checkForm()">혼잡도 확인하기</button><br>
    </form>
    <script>
      var start = document.forms['checkFrom']['start'].value;
      var end = document.forms['checkFrom']['end'].value;
      var date = document.forms['checkFrom']['date'].value;
      var st_list = document.getElementById("start_st").options; // start와 end의 list는 같음
      var start_match = false
      var end_match = false

      for (var i = 0; i<st_list.length; i++) {
        if (st_list.value == start) {
          start_match = true;
        } else if (st_list.value == end) {
          end_match = true;
        }

        if (start_match == true && end_match == true) {
          break;
        }
      }

      if (!start_match || !end_match || date=="") {
        alert("올바른 값을 입력해주세요!\n(참고: 데이터에 없는 역이 있을 수 있습니다.)");
        return false;
      }
      
    </script>
    {% block results %}
    {% endblock %}
  </body>
</html>